@model List<CafeOrderManagementSystem.Application.Features.TableFeature.GetAllTable.TableDto>
@{
    Layout = null;
}
<script src="~/content/common.js"></script>
<div class="row">
    @foreach (var table in Model)
    {
        <div class="col-lg-3" onclick="openDiv('@table.TableNumber')">
            <div class="card mb-3" style="@(table.State == 0 ? " background-color: lightgreen;" : table.State==1
        ? "background-color: lightcoral;" : "background-color: peru;" )">

                <div class="row g-0">
                    @* <div class="col-md-4" style="padding: 10px;">
            <img src="assets/img/table.jpg" class="img-fluid rounded-start" alt="...">
          </div> *@
                    <div class="col-md-12">
                        <div class="card-body">
                            <h5 class="card-title">
                                @table.TableNumber-@(table.State == 0 ? "Boş" : table.State == 1 ? "Dolu" :
                            "Rezerve")
                            </h5>
                            <p class="card-text">

                                @if (table.State == 0)
                                {
                                    <button onclick="addOrder('@table.Id', event)" class="btn btn-outline-primary">Sipariş Al</button>
                                    <button onclick="makeReservation('@table.Id', event)" class="btn btn-outline-info">
                                        Rezervasyon Yap
                                    </button>
                                }

                                else @if (table.State == 1)
                                {
                                    <button onclick="addProductToOrder('@table.Id', event)" class="btn btn-outline-success">
                                        Sipariş Ekle
                                    </button>
                                    <button onclick="closedOrder('@(table.Order?.Id ?? 0)', event)" class="btn btn-outline-primary">
                                        Masayı Kapat
                                    </button>
                                }
                                else @if (table.State == 2)
                                {
                                    <button onclick="addOrder('@table.Id', event)" class="btn btn-primary">Sipariş Al</button>
                                    <button onclick="deleteReservation('@table.Id', event)" class="btn btn-success">Rezervasyon Sil</button>
                                }

                            </p>
                        </div>
                    </div>
                </div>
            </div><!-- End Card with an image on left -->
        </div>
    }



</div>

<script>
    function openDiv(tableNumber) {
      alert("Masa Numarası: " + tableNumber);
    }
    
    function closedOrder(orderId, event){
          event.stopPropagation();
      $.ajax({
        url: '/Order/CloseOrder',
        type: 'POST',
        data: { id: orderId },
        success: function (response) {

          successToast("Masa kapatıldı")
           $.ajax({
            url: '/Home/HomePartialView',
            type: 'GET',
            success: function (result) {
                $('#partialContainer').html(result);
            }
        });
        },
        error: function (xhr, status, error) {
          console.error("Hata oluştu:", error);
          errorToast(xhr.responseText)
        }
      });
    }

    function deleteReservation(tableId, event){
          event.stopPropagation();
      $.ajax({
        url: '/Table/CancelReservationById',
        type: 'POST',
        data: { id: tableId },
        success: function (response) {

          successToast("Rezervasyon Silindi")
           $.ajax({
            url: '/Home/HomePartialView',
            type: 'GET',
            success: function (result) {
                $('#partialContainer').html(result);
            }
        });
        },
        error: function (xhr, status, error) {
          console.error("Hata oluştu:", error);
          alert("Hata: " + error);
        }
      });
    }

    function makeReservation(tableId, event) {

      event.stopPropagation();
      $.ajax({
        url: '/Table/ReservationById',
        type: 'POST',
        data: { id: tableId },
        success: function (response) {

          successToast("Rezervasyon Gerçekleştirildi")
           $.ajax({
            url: '/Home/HomePartialView',
            type: 'GET',
            success: function (result) {
                $('#partialContainer').html(result);
            }
        });
        },
        error: function (xhr, status, error) {
          console.error("Hata oluştu:", error);
          alert("Hata: " + error);
        }
      });
    }
    function addProductToOrder(tableId, event) {
      event.stopPropagation();
      alert(tableId);
    }
    function addOrder(tableId, event) {
      event.stopPropagation();
      const requestData = {
        id: tableId
      };

    }
</script>