@model List<CafeOrderManagementSystem.Application.Features.TableFeature.GetAllTable.TableDto>
@{
    Layout = null;
}
<script src="~/content/common.js"></script>
<div class="row">
    @foreach (var table in Model)
    {
        <div class="col-lg-3" onclick="openDiv('@table.TableNumber')">
            <div class="card mb-3" style="@(table.State == 0 ? " background-color: lightgreen;" : table.State==1
        ? "background-color: lightcoral;" : "background-color: peru;" )">

                <div class="row g-0">
                    @* <div class="col-md-4" style="padding: 10px;">
            <img src="assets/img/table.jpg" class="img-fluid rounded-start" alt="...">
          </div> *@
                    <div class="col-md-12">
                        <div class="card-body">
                            <h5 class="card-title">
                                @table.TableNumber-@(table.State == 0 ? "Boş" : table.State == 1 ? "Dolu" :
                            "Rezerve")
                            </h5>
                            <p class="card-text">

                                @if (table.State == 0)
                                {
                                    <button onclick="addOrder('@table.Id', event)" class="btn btn-outline-primary">Sipariş Al</button>
                                    <button onclick="makeReservation('@table.Id', event)" class="btn btn-outline-info">
                                        Rezervasyon Yap
                                    </button>
                                }

                                else @if (table.State == 1)
                                {
                                    <button onclick="addProductToOrder('@table.Id', event)" class="btn btn-outline-success">
                                        Sipariş Ekle
                                    </button>
                                    <button onclick="closedOrder('@(table.Order?.Id ?? 0)', event)" class="btn btn-outline-primary">
                                        Masayı Kapat
                                    </button>
                                }
                                else @if (table.State == 2)
                                {
                                    <button onclick="addOrder('@table.Id', event)" class="btn btn-primary">Sipariş Al</button>
                                    <button onclick="deleteReservation('@table.Id', event)" class="btn btn-success">Rezervasyon Sil</button>
                                }

                            </p>
                        </div>
                    </div>
                </div>
            </div><!-- End Card with an image on left -->
        </div>
    }



</div>



<div class="modal fade" id="addProductToOrderModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Siparişe Ürün Ekle-</h5>
                <h5 class="modal-title" id="menuName"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="row mb-3">

                    <label for="products" class="col-sm-4 col-form-label mb-5">Ürün Ekle</label>
                    <div class="col-sm-8">
                        <select class="form-select" id="products">
                        </select>
                    </div>
                </div>
                <div id="allProduct"></div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeç</button>
                <button type="button" class="btn btn-primary" onclick="createData()">Oluştur</button>
            </div>
        </div>
    </div>
    <input type="hidden" id="selectedMenuId" />
</div>



<script>
    function openDiv(tableNumber) {
      alert("Masa Numarası: " + tableNumber);
    }
    function getPartialView(){
        $.ajax({
            url: '/Home/HomePartialView',
            type: 'GET',
            success: function (result) {
                $('#partialContainer').html(result);
            }
        });
    }
    
    function closedOrder(orderId, event){
          event.stopPropagation();
      $.ajax({
        url: '/Order/CloseOrder',
        type: 'POST',
        data: { id: orderId },
        success: function (response) {

          successToast("Masa kapatıldı")
          getPartialView();
        },
        error: function (xhr, status, error) {
          console.error("Hata oluştu:", error);
          errorToast(xhr.responseText)
        }
      });
    }
    function deleteReservation(tableId, event){
          event.stopPropagation();
      $.ajax({
        url: '/Table/CancelReservationById',
        type: 'POST',
        data: { id: tableId },
        success: function (response) {

          successToast("Rezervasyon Silindi")
          getPartialView(); 
        },
        error: function (xhr, status, error) {
          console.error("Hata oluştu:", error);
          alert("Hata: " + error);
        }
      });
    }
    function makeReservation(tableId, event) {
      event.stopPropagation();
      $.ajax({
        url: '/Table/ReservationById',
        type: 'POST',
        data: { id: tableId },
        success: function (response) {

          successToast("Rezervasyon Gerçekleştirildi")
          getPartialView();
        },
        error: function (xhr, status, error) {
          console.error("Hata oluştu:", error);
          alert("Hata: " + error);
        }
      });
    }

    function addProductToOrder(tableId, event) {
      event.stopPropagation();
       $.ajax({
        url: '/Table/GetById',
        type: 'POST',
        data: { id: tableId },
        success: function (response) {
          console.log(response);
        },
        error: function (xhr) {
          errorToast(xhr.responseText)
        }
      });

    }
    function addOrder(tableId, event) {
      event.stopPropagation();
      const requestData = {
        id: tableId
      };
      console.log(tableId);
    }
</script>